In [11]:
import sqlite3 as sq
import os

In [12]:
path = os.getenv('DATAPATH')
file = 'GLOSS.db'

In [13]:
cnxn = sq.connect(path + file)

In [14]:
cnxn.execute(
    "SELECT * FROM 'parametersFullModel' "
    "WHERE rowid NOT IN ( "
        "SELECT MIN(rowid) " 
        "FROM 'parametersFullModel' " 
        "GROUP BY station_name)"
).fetchall()

[('Zanzibar',
  0,
  2.01333283730779,
  -0.0033938264377779,
  0.00252704486033681,
  -0.000244173110159155,
  0.00362361545994707,
  0.00362361545994707,
  0.642286363216712,
  'z0'),
 ('Walvis Bay',
  0,
  0.971277933400964,
  0.000366799069660424,
  0.000506025988818012,
  -1.46898609568801e-05,
  0.0188853847271027,
  0.0188853847271027,
  -0.128670573497478,
  'z0')]

In [26]:
subSql = "SELECT MIN(rowid) FROM parametersFullModel GROUP BY station_name, var"

In [27]:
sql = f"SELECT * FROM parametersFullModel WHERE rowid NOT IN ({subSql})"
sql

'SELECT * FROM parametersFullModel WHERE rowid NOT IN (SELECT MIN(rowid) FROM parametersFullModel GROUP BY station_name)'

In [28]:
cnxn.execute(sql).fetchall()

[('Zanzibar',
  0,
  2.01333283730779,
  -0.0033938264377779,
  0.00252704486033681,
  -0.000244173110159155,
  0.00362361545994707,
  0.00362361545994707,
  0.642286363216712,
  'z0'),
 ('Walvis Bay',
  0,
  0.971277933400964,
  0.000366799069660424,
  0.000506025988818012,
  -1.46898609568801e-05,
  0.0188853847271027,
  0.0188853847271027,
  -0.128670573497478,
  'z0')]